@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: square;
}

body {
  margin: 0 8px;
  padding: 0;
}

a {
  color: black;
  font-weight: bold;
}

a:visited {
  color: black;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eee;
  padding: 2px;
}
