.nav-title {
  margin: 0;
  font-size: 48pt;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.nav-links a {
  text-decoration: none;
}
